* {
    margin: 0;
    box-shadow: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 16px;
}

/* =========================Start of dropdown CSS */
.dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width: 250px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: #E6E6E6;
    z-index: 1;
  }
  
  .dropdown-content a {
    width: 242px;
    display: flex;
    color: #2B2B2B;
    padding: 5px;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    color: white;
    background-color: #2D80E5;
  }
  
  /* =================================== End of dropdown CSS */
  
  header {
    width: 100%;
  }
  
  nav {
    position: absolute;
    width: 100%;
    height: 79px;
    left: 0px;
    top: 0px;
    background: #EEF1F4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  #nav-links a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: 16px;
    text-decoration: none;
  }
  
  #nav-btn {
    display: flex;
    flex: row;
  }
  
  #nav-btn a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: 16px;
  }
  
  #login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 24px;
    width: 80px;
    height: 20px;
    left: 950px;
    top: 28px;
    background: #EEF1F4;;
    border: 1px solid #2D80E5;
    color: #2D80E5;
    border-radius: 6px;
  }
  
  #register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 24px;
    width: 80px;
    height: 20px;
    left: 1085px;
    top: 28px;
    background: #2D80E5;
    color: white;
    border-radius: 6px;
  }
  /* end of nav-bar */  

.aboutfirstdiv {
    display: flex;
    flex-wrap: wrap;
    gap: 280px;
    margin-top: 120px;
    margin-bottom: 100px;
}

.aboutfirstdiv .aboutdiv1 {
    margin: 50px 135px ;
}

.aboutseconddiv .aboutdiv2 {
    display: flex;
    flex-wrap: wrap;
    gap: 230px;
    margin-bottom: 90px;
}

.aboutseconddiv .aboutdiv2 {
    margin: 50px 135px ;
}

.aboutseconddiv .aboutdiv2 h3 {
    margin-left: 50px;
}

.aboutseconddiv .aboutdiv2 p {
    margin-top: 30px;
}

.aboutseconddiv .aboutdiv2 span {
    color: #2d80e5;;
}

.aboutthirddiv{
    display: flex;
    flex-wrap: wrap;
    gap: 190px;
    /* margin-bottom: 90px; */
}

.aboutthirddiv .aboutdiv3 {
    margin: 50px 135px ;
}

.aboutthirddiv .aboutp {
    margin-top: 90px;
    margin-left: -40px;
    font-size: 18px;
}

.aboutfourthdiv .aboutdiv4 {
    margin: 50px 135px ;
}

.aboutfourthdiv .aboutdiv4 h3 {
    margin-left: 500px ;
    margin-bottom: 50px;
}

.aboutfourthdiv .aboutdiv4 .aboutdiv4-images {
    margin-left: 130px;
}

/* footer styling */

footer {
    position: absolute;
    width: 100%;
    height: 220px;
    left: 0px;
    /* top: 4256px; */
    background: #1E5599;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 28px;
    border-radius: 0px;
  }
  
  #top-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  #footer-links {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  #footer-img {
    position: absolute;
    width: 201px;
    height: 99px;
    left: 50px;
    top: 20px;
    
    /* background: url(zuri logo); */
  }
  
  #top-foot-1 p {
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;    
  }
  
  #top-foot-1 div {
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #E6E6E6;
    flex: none;
    flex-grow: 0;  
  }
  
  #top-foot-2 p {
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;  
  }
  
  #top-foot-2 a {
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    text-align: center;
    color: #E6E6E6;
    flex: none;
    flex-grow: 0;  
  }
  
  #top-foot-3 p {
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
  }
  
  #top-foot-3 a {
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    text-align: center;
    color: #E6E6E6;
    flex: none;
    flex-grow: 0;
  }
  
  #bottom-footer {
    width: 100%;
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  #footer-link a {
    margin-right: 20px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #E6E6E6;
    flex: none;
    flex-grow: 0;  
  }
  
  #copyright {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
  }
  
  
  footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
  }
  