* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    
}

header {
    display: flex;
    /* justify-content: space-between; */
    /* margin: 10px; */
    background: #eef1f4;
    /* top: 0;
    left: 0; */
}

header img {
    margin: 2px 30px -18px;
}

header div {
    margin-left: 40;
}

header p {
    margin: 25px;
    margin-left: 65%;
}

header .img2 {
    width: 5%;
    height: 10%;
    /* margin-left: 68%; */
}

.sidenav {
    height: 74%;
    width: 20%;
    position: absolute;
    z-index: 1;
    top: 10;
    left: 0;
    background: #d5e6fa;
    overflow: hidden;
    padding-top: 120px;
}

.sidenav a {
    padding: 8px 8px 8px 70px;
    text-decoration: none;
    font-size: 16.5px;
    color: #959595;
    display: block;
}

.sidenav a:hover {
    /* filter: invert(0%) sepia(1%) saturate(7486%) hue-rotate(355deg) brightness(103%) contrast(100%);  */
    color: #2b2b2b;
    background-color: #b9d5f6;
}

.sidenav a:target {
    color: #2b2b2b;
    background: #b9d5f6;
}

.sidenav a img {
    filter:  invert(65%) sepia(0%) saturate(0%) hue-rotate(162deg) brightness(92%) contrast(85%);
    width: 16%; 
    /* height: 15%; */
}

.sidenav a img:hover {
    filter: invert(0%) sepia(1%) saturate(7486%) hue-rotate(355deg) brightness(103%) contrast(100%)
}

.sidenav .dashboard-nav div a {
    display: flex;
}

.sidenav .div1 p{
    margin: 7px 16px;
}

.sidenav .dashboard-nav .div2 img {
    width: 20%;
    margin-left: -5px;
}

.sidenav .dashboard-nav .div2 p {
    margin: 10px 11px ;
}

.sidenav .dashboard-nav .div3 img {
    width: 16%;
    margin-left:0px;
}

.sidenav .dashboard-nav .div3 p {
    margin: 5px 17px ;
}

.sidenav .dashboard-nav .div4 img {
    width: 15%;
    margin: 5px 5px;
}

.sidenav .dashboard-nav .div4 p {
    margin: 10px 9px ;
}

section .dashboard-div {
    position: absolute;
    left: 350px;
}

section .dashboard-div .dash-p {
    font-size: 26px;
    color: #1e5599;
    margin: 25px 0 20px;
}

.divider {
    border-bottom: 1px solid #959595;
    margin: 2px 0;
    clear: right;
    width: 1200px;
}

section .dashboard-div .dashdiv2 .dashdiv-div {
    color: #1e5599;
    margin: 25px 0 20px; 
    display: flex;
}

section .dashboard-div .dashdiv2 .dashdiv-div img {
    width: 3%;
}

section .dashboard-div .dashdiv2 .dashdiv-div p {
    margin: 4px 5px;
    font-size: 20px;
    font-weight: 410;
}

section .dashboard-div .dashdiv-p {
    color: #121212;
    font-size: 13.6px;
    margin: -15px 5px 20px;
    font-weight: 410;
}

section .dashboard-div .dashdiv-anotherdiv {
    display: flex;
    gap: 60px;
}

section .dashboard-div .dashdiv-anotherdiv .dashdiv3 {
    margin: 5px 5px;
    width: 30% ;
    padding: 130px 50px;
    border-radius: 8px;
    box-shadow: 3px 4px 12px -2px;
}

section .dashboard-div .dashdiv-anotherdiv img {
    width: 16%;
}

section .dashboard-div .dashdiv-anotherdiv .dashdiv3 h3 {
    font-size: 26px;
    font-weight: 600;
}

section .dashboard-div .dashdiv4 {
    margin: 5px 5px;
    width: 70% ;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 3px 4px 12px -2px;
}

section .dashboard-div .dashdiv4 h3{
    font-weight: 500;
    color: #1e5599;
    margin: -2px 0;
}

section .dashboard-div .dashdiv4 p {
    font-size: 15px;
    color: #959595;
    margin-top: 15px;
}

section .dashboard-div .dashdiv4 a {
    display: flex;
}

section .dashboard-div .dashdiv4 .next {
    width: 3%;
    margin: 19px 10px;
    filter: invert(21%) sepia(53%) saturate(2327%) hue-rotate(198deg) brightness(100%) contrast(85%);
}

section .dashboard-div .dashdiv5 {
    margin: 25px 5px 5px;
    width: 70% ;
    padding: 30px 50px;
    border-radius: 8px;
    box-shadow: 3px 4px 12px -2px;
}

section .dashboard-div .dashdiv5 h3{
    font-weight: 500;
    color: #1e5599;
    margin: -2px 0;
}

section .dashboard-div .dashdiv5 p {
    font-size: 15px;
    color: #959595;
    margin-top: 15px;
}

section .dashboard-div .dashdiv5 a {
    display: flex;
}

section .dashboard-div .dashdiv5 .next {
    width: 3%;
    margin: 19px 10px;
    filter: invert(21%) sepia(53%) saturate(2327%) hue-rotate(198deg) brightness(100%) contrast(85%);
}


