html, body {
    height: 100%;
    width: 100%;
    
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  
  #browser{
    height: 64px;
    width: 1280px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    /* background-color: #E6E6E6; */
  }
  
  #logo {
    position: absolute;
    width: 201px;
    height: 99px;
    left: 42px;
    top: 24px;
  }
  
  #signin {
    position: absolute;
    width: 580px;
    height: 550px;
    left: 48px;
    top: 165px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }
  
  #signin h2 {
    position: absolute;
    width: 500px;
    height: 42px;
    left: 50px;
    top: 41px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    color: #0F2B4C; 
  }
  
  input {
    padding-left: 20px;
    margin-bottom: 8px;
  }
  
  form {
    position: absolute;
    width: 219px;
    left: 50px;
    top: 120px;
  }

  #name-label {
    width: 38px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #121212;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #fullname{
    box-sizing: border-box;
    width: 473px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;;
  }

  #form-input {
    box-sizing: border-box;
    width: 473px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  #email-label {
    width: 38px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #121212;
    flex: none;
    order: 0;
    flex-grow: 0;  
  }
  
  #email {
    box-sizing: border-box;
    width: 473px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
  }
  
  #password-label {
    width: 68px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #121212;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  #password {
    box-sizing: border-box;
    width: 473px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
  }

  #renterPassword {
    box-sizing: border-box;
    width: 473px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
  }

  #re-enter password-label {
    width: 133px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #121212;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  #re-enter password {
    box-sizing: border-box;
    width: 473px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
  }
  
  #image-frame {
    position: absolute;
    width: 712.64px;
    height: 531px;
    left: 628px;
    top: 154px; 
  }
  
  .signin-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 24px;
    gap: 10px;
    position: absolute;
    width: 470px;
    height: 39px;
    left: 0px;
    top: 350px;
    background: #2D80E5;
    border-color: #2D80E5;
    border-radius: 6px;
  }
  
  .signup-text {
    position: absolute;
    width: 229px;
    height: 21px;
    left: 190px;
    top: 588px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #555555;
 
  }